.hero {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 12.5em;
  background: #e1e1e1;
  margin: -1em -2.5em 1em;
  font-size: 2em
}

.articleBody {
  p, h1, h2, h3, h4, h5, h6 {
    @apply py-4;
  }
  li {
    @apply py-2 ml-4;
  }
  ul {
    @apply list-disc;
  }

  h1, h2 {
    @apply text-3xl;
  }

  a {
    @apply text-blue-500 underline;
    &:visited,&:hover {
      @apply text-indigo-600;
    }
  }
  
}

.tagList {
  list-style: none;
}
