.name {
    font-size: 3rem;
    font-weight: bold;
    text-align: center;
    margin-bottom: 0.5rem;
}

.title {
    font-size: 2rem;
    font-weight: semibold;
    text-align: center;
    margin-top: 0;
}

.aboutBody {
    p, h1, h2, ul {
        @apply py-4;
    }

    h1, h2 {
        @apply text-3xl;
    }

    ul {
        @apply list-disc;
        li {
            @apply ml-4;
        }
    }

}