.previewTitle {
  @apply font-semibold text-2xl;
  color: #667EEA;
}

.preview {
  @apply shadow-2xl bg-white rounded-3xl;
}

.previewImage {
  @apply rounded-t-3xl;
}

.previewBody {
  @apply p-4;
}

.date, .description {
  @apply py-4;
}

.tag {
  color: #A0A0A0;
  text-decoration: none;
  display: inline-block;
  padding: .33333rem .5rem;
  line-height: 1;
  border-radius: 2px;
  border: 1px solid #A0A0A0;
  margin-right: .5em;
}

.tag:hover {
  background: #667EEA;
  color: white;
  border: 1px solid white;
}
