.previewTitle {
  font-size: 1.5em;
  color: #667EEA;
  font-weight: semi-bold;
}

.preview {
  box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.13);
  border: 1px solid rgba(0,0,0,0.13);
}

.previewBody {
  padding: 1rem;
}

.tag {
  color: #A0A0A0;
  text-decoration: none;
  display: inline-block;
  padding: .33333rem .5rem;
  line-height: 1;
  border-radius: 2px;
  border: 1px solid #A0A0A0;
  margin-right: .5em;
}

.tag:hover {
  background: #667EEA;
  color: white;
  border: 1px solid white;
}