.navbar {
  @apply flex justify-end flex-row bg-primary text-white px-4 sticky top-0;
  z-index: 999;
}

.navbar > * {
  @apply py-4;
}

.navbarMenu {
  @apply block md:hidden ml-auto px-4 border-blue-600 border;
}

/* TODO: Make this the active state */
.navbarItems.active {
  @apply block fixed top-0 right-0 bottom-0 w-3/4;
}

.navbarItems {
  @apply hidden bg-white text-primary p-0 shadow-lg;
  z-index: 1000;
}

.overlay {
  @apply hidden;
}

.overlay.active {
  @apply block fixed top-0 right-0 bottom-0 bg-gray-700 bg-opacity-80 h-full w-full;
  z-index: 998;
}

.active {}

.navbarItem  {
  @apply p-4 hover:bg-gray-100 text-right border-primary border-b flex;
}

.navbarItem a {
  @apply flex-1;
}

@screen md {
  .navbarItems, .navbarItems.active {
    @apply flex flex-row list-none py-0 static bg-transparent text-white w-auto shadow-none;
  }

  .navbarItem {
    @apply flex p-0;
  }

  .navbarItems a {
    /* Note: This is for PC. */
    @apply p-4 hover:bg-blue-300 h-full flex-1 ;
  }

  .overlay {
    &.active {
      @apply hidden;
    }
    @apply hidden;
  }

}
